* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      background: url('../assets/brewery-picture.jpg') no-repeat center center fixed;
      background-size: cover;
      opacity: 0.5;
  }
